<h1 class="top-header-phrase">Hello, <%= @teacher.name %>!</h1>
<!-- GROUP -->
<div class="row">
  <div class="col-md-4 text-center">
  <%= button_to "+ New Assignment", new_assignment_path, class: "btn btn-primary btn-lg btn-block btn-tall-ra", :method => :get %>
  </div>
  <div class="col-md-4 text-center">
  <%= button_to "+ Schedule Assignment", new_message_path, class: "btn btn-primary btn-lg btn-block btn-tall-ra", :method => :get %>
  </div>
  <div class="col-md-4 text-center">
  <%= button_to "+ New Group", new_group_path, class: "btn btn-primary btn-lg btn-block btn-tall-ra", :method => :get %>
  </div><br><br><br><br>

  <div class="col-md-12">
  <%= button_to "View Groups", groups_path, class: "btn btn-default btn-lg btn-block btn-tall-ra", :method => :get %>
  </div>

  <div class="col-md-6">
    <div class="list-group">
      <li class="list-group-item list-group-title">Pending Assignments:</li>
      <% @teacher.assignments.each do |assignment| %>
        <% if assignment.sent_at.nil? %>
          <a href="<%= assignment_path(assignment) %>" class="list-group-item"><%= assignment.name %></a>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="list-group">
      <li class="list-group-item list-group-title">Sent Assignments:</li>
      <% @teacher.assignments.each do |assignment| %>
        <% unless assignment.sent_at.nil? %>
          <a href="<%= assignment_path(assignment) %>" class="list-group-item"><%= assignment.name %></a>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
