<h1>Hello, <%= @teacher.name %></h1>
<!-- GROUP -->
<div class="container">
  <div class="col-md-4 text-center">
  <%= button_to "+ New Assignment", new_assignment_path, class: "btn btn-primary btn-lg", :method => :get %>
  </div>
  <div class="col-md-4 text-center">
  <%= button_to "+ Schedule Assignment", new_message_path, class: "btn btn-primary btn-lg", :method => :get %>
  </div>
  <div class="col-md-4 text-center">
  <%= button_to "+ New Group", new_group_path, class: "btn btn-primary btn-lg", :method => :get %>
  </div>
</div>

<br>
<div class='container'>
  <% @teacher.assignments.each do |assignment| %>
    <h2><%= link_to assignment.name, assignment_path(assignment) %></h2>
    
  <% end %>
</div>



<div class='container'>
  <% @teacher.groups.each do |group| %>
    <h2><%= link_to group.name, group_path(group) %></h2>
    <table>
    <% group.students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
      </tr>
    <% end %>
  </table>
  <% end %>
</div>
<!-- END GROUP -->