<h1 class="top-header-phrase">Assignment: <%= @assignment.name %></h1>
<p class="lead"><%= @assignment.description %></p>

<div>
  <% if @assignment.sent_at.nil? %>
    <%= button_to "Edit Assignment", edit_assignment_path(@assignment), class: "btn pull-left", :method => :get, style: "background-color: #2ECC71; color: white; margin-right: 18px;" %>
  <% end %>

  <%= button_to "Schedule Assignment", new_message_path, class: "btn", :method => :get, style: "background-color: #7f8c8d; color: white;" %>
</div>

<ul class="list-group col-md-6">
  <li class="list-group-item list-group-title">Quiz</li>
  <% @assignment.questions.order("sequence ASC").each_with_index do |question, index| %>
    <li class="list-group-item"><%= "Question #{index+1}: #{question.content}"%></li>
  <% end %>
</ul>

<div class="list-group col-md-6">
  <div class="list-group">
    <li class="list-group-item list-group-title">Groups:</li>
    <% @assignment.groups.each do |group| %>
      <a href="<%= group_path(group) %>" class="list-group-item"><%= group.name %></a>
    <% end %>
  </div>
</div>
