<h1><%= @assignment.name %></h1></br>
<h3><%= @assignment.description %></h3></br>

<% if @assignment.sent_at.nil? %>
  <%= link_to "Edit Assignment", edit_assignment_path(@assignment), class: "btn btn-primary" %></br>
<% end %>

<h3>Quiz</h3>
<% @assignment.questions.order("sequence ASC").each_with_index do |question, index| %>
  <p><%= "Question #{index+1}:"%></p>
  <p><%= "#{question.content}" %></p>
  <p><%= question.correct_answer %></p><br>
<% end %>

<h3>Completion Rate</h3>
<% @assignment.group_assignments.each do |group_assignment| %>
  <p><%= group_assignment.group.name %></p>
  <p><%= group_assignment.group_progress_percentage %></p>
<% end %>

<h3>Student Grades</h3>
<% @assignment.students.each do |student| %>
  <p><%= student.name %>:
  <%= student.student_assignments.where(assignment: @assignment).first.grade %></p>
<% end %>

<h3>Answers By Question</h3>
<% @assignment.questions.each_with_index do |question, index| %>
  <%= "Question #{index+1}: #{question.content}" %><br>
  <div class="row">
    <div class="col-md-2">
      <%= "Right: #{question.correct_answers}" %>
      <%= "Wrong: #{question.wrong_answers}" %>
    </div>
    <div class="col-md-6">
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: <%= question.percent_correct %>%">
          <span class="sr-only"><%= question.percent_correct %>% Correct</span>
        </div>
        <div class="progress-bar progress-bar-danger" style="width: <%= question.percent_wrong %>%">
          <span class="sr-only"><%= question.percent_wrong %>% Wrong</span>
        </div>
      </div>
    </div>
  </div><br>
<% end %>
