<h1><%= @group.name %></h1>

<h3>Assignments for this group:</h3>

<h3>Students in the class:</h3>
<ul>
  <% @group.students.each do |student| %>
    <li><%= student.name %></li>
  <% end %>
</ul>

<%= form_tag group_path(@group), method: 'patch' do %>
  <%= select_tag :'group[student_id]', options_for_select(@students.map { |s| [s.name, s.id] } ) %>
  <%= submit_tag 'Add Student' %>
<% end %><br>

<%= link_to "Create New Student", new_student_path %>